[submodule "safety-gymnasium"] 
  path = safety-gymnasium
  url =  git://github.com/MasonN808/safety-gymnasium.git
  branch = main
[submodule "FSRL"] 
	path = FSRL
	url = git://github.com/MasonN808/FSRL.git
  branch = main
[submodule "HighwayEnv"] 
	path = HighwayEnv
	url = https://github.com/MasonN808/HighwayEnv.git
  branch = master
[submodule "stable_baselines3"]
	path = stable_baselines3
	url = https://github.com/MasonN808/stable-baselines3.git
	branch = master
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/MasonN808/pytorch.git
	branch = ecrl
[submodule "Minigrid"]
	path = Minigrid
	url = https://github.com/MasonN808/Minigrid.git
	branch = master